{%extends 'base.html'%}
{%block main_block%}

<div class="container">
    <div class="row">
        <h2> Student list</h2>

        {%for s in data%}
        <div class="col-3 mb-3 ">
            <div class="card" style="width: 100%;">
                {%if s.picture%}
                <img src="{{s.picture.url}}" class="card-img-top" alt="...">
                {%endif%}
                <div class="card-body">
                    <h5 class="card-title">Name : {{s.name}}</h5>
                    <p class="card-text">Age : {{s.age}}</p>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Standard : {{s.standard}}</li>
                    <li class="list-group-item">A second item</li>
                    <li class="list-group-item">A third item</li>
                </ul>
                <div class="card-body">
                    <a href="{%url 'student_detail' s.id%}" class="card-link">view</a>
                    <a href="{%url 'student_delete' s.id%}" class="card-link">Delete</a>
                    <a href="{%url 'student_update' s.id%}" class="card-link">Update</a>
                </div>
            </div>
        </div>
        {%endfor%}

    </div>
</div>

{%endblock%}